body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28a7f0; /* Flipkart blue background */
  color: white; /* White text */
  padding: 10px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-left {
  flex: 2 ;
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  color: white; /* White logo color */
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px; /* Adjusted space between logo and menu button */
}

.menu-button {
  font-size: 1.8rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-center {
  flex: 7;
  display: flex;
  justify-content: center; /* Center the search bar */
  align-items: center;


.navbar-search {
  padding: 8px;
  border: none; /* Remove border for a cleaner look */
  border-radius: 5px; /* Rounded corners */
  width: 60%; /* Adjusted width */
  box-sizing: border-box;
  font-size: 16px;
}
}

.navbar-search::placeholder {
  color: #b0b0b0; /* Placeholder text color */
}

.navbar-search-button {
  background-color: #ff3e6c; /* Myntra pink for the search button */
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.navbar-link {
  text-decoration: none;
  color: white; /* White text color */
  padding: 10px 15px;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.navbar-link:hover {
  background-color: #00086f; /* Slightly darker blue on hover */
}

.navbar-icon {
  display: flex;
  align-items: center;
  color: white; /* White icon color */
  
}

.navbar-icon img {
  width: 24px;
  height: 24px;
}

.cart-icon, .profile-icon {
  position: relative;
  margin-right: 10%;
}

.cart-icon .cart-count {
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}

.navbar-link svg {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-center {
    width: 100%;
    margin-top: 10px;
  }

  .navbar-search {
    width: calc(100% - 20px); /* Adjusted width */
  }

  .navbar-right {
    flex-direction: column;
    gap: 20px;
  }

  .navbar-icon img {
    width: 20px;
    height: 20px;
  }

  .cart-icon .cart-count {
    font-size: 0.7rem;
    padding: 1px 5px;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    font-size: 1.2rem;
  }

  .navbar-search {
    width: calc(100% - 20px); /* Adjusted width */
  }

  .navbar-center {
    margin-top: 5px;
  }

  .navbar-icon img {
    width: 18px;
    height: 18px;
  }
}
